body{

background:#224668;

font-family:times;

}

ul {
	padding: 0;
	list-style: none;
}

.grid-container{
	display: grid;
	grid-template-rows: auto, auto, auto, auto;
	background-color: #6566ff
	height: 100%;
}

.header {
	grid-row: 1;
	padding: 15px;
	text-align: center;
	background-color: #6666ff;
	color: #ffffff;
}

.name {
	line-height: 0%;
	text-align: left;
	color: #ffffff;
}

.contact {
	line-height: 0%;
	text-align: left;
	color: #ffffff;
}

.menu-bar {
	grid-row: 2;
	display: flex;
	justify-content: space-around;
	background-color: #6566ff
}

.menu-item {
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}

.main-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
